<div class="jumbotron">
  <h1 id="header">Locker Dashboard</h1>
  <p id="welcome">Message Inbox</p>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <button id="compose" type="button" class="btn btn-danger">Compose</button>
</div>



<br>

<table class="table table-striped">
	<thead>
		<tr>
			<th>From</th>
			<th>Subject</th>
			<th>Date</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		
	</tbody>
</table>