<div class="jumbotron">
  <h1 id="header">Locker Dashboard</h1>

  <p id="welcome">Locker Members</p>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th> </th>
			<th>Email</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Locker</th>
			<th> </th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
			<tr>
			<td><a href= '#' class="btn btn-danger btn-xs" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
			<td><%= user.email %></td>
			<td><%= user.firstname%></td>
			<td><%= user.lastname %></td>
			<% if user.locker_id == "" %>
				<td>--</td>
			<% else %>
				<td><%= user.locker_id %></td>
			<% end %>
			<td><a href= '#' class="btn btn-primary btn-xs" role="button">Edit</a></td>
			</tr>
		<% end %>
	</tbody>
</table>


