<div class="jumbotron">
  <h1 id="header">Locker Dashboard</h1>

  <p id="welcome">Locker Members</p>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th> </th>
			<th>Email</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Locker</th>
			<th> </th>
		</tr>
	</thead>
</table>


